[Desktop Entry]
Categories=Qt;System;
Comment=AstroArch - configure system
Comment=AstroArch - configure system
Exec=/usr/lib/kf6/kdesu calamares
GenericName=AstroArch onboarding
GenericName=AstroArch onboarding
Icon=calamares
Keywords=calamares;system;configurer;
MimeType=
Name=AstroArch onboarding
Name=AstroArch onboarding
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
TryExec=calamares
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-KDE-SubstituteUID=false
X-KDE-Username=
